.homepage-content {
    background-color: #0b0b0b;
    padding-left: 90px;
    min-height: 100vh;
    padding-top: 130px;
    flex-direction: column;
  }

.homepage-h2{
    font-weight: 500;
    color: #f74d4d;
    padding-bottom: 20px;
  }
