.container-fluid {
    background-color: #0b0b0b !important;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sen", sans-serif;
  }
  
  .left {
    padding-right: 200px;
  }
  
  .right {
    background-color: #181818;
    border-radius: 10px;
    padding: 30px 30px;
    margin-top: 50px;
  }
  
  .title {
    font-weight: 700 !important;
  }

  .img {
    padding-bottom: 15px;
  }
  
  .content {
    min-width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  
  p {
    color: #6a6a6a;
  }
  
  .btns {
    margin-top: 50px !important;
  }
  
  .btn {
    background-color: #f74d4d;
    width: 100%;
    color: white;
    font-weight: 700;
  }
  
  .btn-login {
    background-color: #f74d4d;
    width: 135px;
    height: 40px;
  }
  .btn-register {
    background-color: #0b0b0b;
    width: 135px;
    height: 40px;
    font-weight: 500;
  }
  
  .login {
    font-size: 36px;
    font-weight: 700;
  }